In [79]:
import pandas as pd
import numpy as np

In [80]:
# Load CSV
file_path = "output/step-1-weeks-added.csv"
df = pd.read_csv(file_path)
df.columns = df.columns.str.strip()
df.tail()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Day,Week,Year
242,2023-09-25,EQ,"2,479.95","2,489.00","2,424.00","2,464.90","2,484.00","2,482.10","2,460.35","4,190.00","1,017.45","12,16,898","2,99,39,92,416.55","62,473",Monday,39,2023
243,2023-09-26,EQ,"2,491.00","2,499.00","2,452.60","2,482.10","2,458.50","2,457.95","2,474.46","4,190.00","1,017.45","6,98,863","1,72,93,10,964.40","35,719",Tuesday,39,2023
244,2023-09-27,EQ,"2,460.00","2,498.00","2,445.10","2,457.95","2,484.00","2,483.30","2,475.27","4,190.00","1,017.45","10,77,373","2,66,67,89,719.35","42,234",Wednesday,39,2023
245,2023-09-28,EQ,"2,489.95","2,511.00","2,446.70","2,483.30","2,477.10","2,475.25","2,478.59","4,190.00","1,017.45","22,25,560","5,51,62,52,181.95","75,079",Thursday,39,2023
246,2023-09-29,EQ,"2,462.05","2,479.55","2,405.05","2,475.25","2,416.00","2,413.90","2,430.24","4,190.00","1,017.45","16,89,201","4,10,51,65,312.70","81,407",Friday,39,2023

In [81]:
df[['Date']].head()

         Date
0  2022-10-03
1  2022-10-04
2  2022-10-06
3  2022-10-07
4  2022-10-10

In [82]:
# Ensure 'Date' column is in datetime format
# df['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%Y', errors='coerce')

# Extract ISO week and year
# df['Week'] = df['Date'].dt.isocalendar().week
# df['Year'] = df['Date'].dt.year  # Add Year column

# List to store processed data
final_list = []
prev_week = None
# Process each week
for (year, week), group in df.groupby(['Year', 'Week']):
    # Add the week's data
    final_list.append(group)

    # Calculate Weekly High & Weekly Low
    weekly_high = group['HIGH'].max()
    weekly_low = group['LOW'].min()

    # Create a summary row
    summary_row = pd.DataFrame({
        'Date': [""], 
        'Day': ["WEEKLY SUMMARY"], 
        'HIGH': [weekly_high], 
        'LOW': [weekly_low],
        'Year': [year],
        'Week': [week]
    })

    # Append the summary row
    final_list.append(summary_row)

# Combine all data
final_df = pd.concat(final_list, ignore_index=True)
df = final_df  # Update df with final processed data
# Sort by Year first, then by Week
df = df.sort_values(by=['Year', 'Week'], ascending=[True, True])

# Reset index after sorting
df = df.reset_index(drop=True)

df.head(20)  # Display the last 20 rows

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades,Day,Week,Year
0,2022-10-03,EQ,"3,440.00","3,460.05","3,110.20","3,455.75","3,164.75","3,157.30","3,239.55","3,885.00","1,367.70","75,78,847","24,55,20,75,642.15","2,42,309",Monday,40,2022
1,2022-10-04,EQ,"3,230.00","3,291.20","3,125.00","3,157.30","3,229.00","3,237.70","3,229.86","3,885.00","1,367.70","56,42,467","18,22,43,62,149.00","2,06,194",Tuesday,40,2022
2,2022-10-06,EQ,"3,270.00","3,318.80","3,208.05","3,237.70","3,287.00","3,285.00","3,269.85","3,885.00","1,367.70","28,45,165","9,30,32,69,962.70","1,06,184",Thursday,40,2022
3,2022-10-07,EQ,"3,280.00","3,310.95","3,228.15","3,285.00","3,279.00","3,277.60","3,269.68","3,885.00","1,367.70","19,30,275","6,31,13,83,917.90","65,403",Friday,40,2022
4,,NaN,NaN,"3,460.05","3,110.20",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEEKLY SUMMARY,40,2022
5,2022-10-10,EQ,"3,234.00","3,278.75","3,214.35","3,277.60","3,253.00","3,246.25","3,250.34","3,885.00","1,367.70","15,90,792","5,17,06,07,524.10","64,438",Monday,41,2022
6,2022-10-11,EQ,"3,257.55","3,338.00","3,249.00","3,246.25","3,274.00","3,273.95","3,299.63","3,885.00","1,367.70","25,44,394","8,39,55,52,194.50","98,321",Tuesday,41,2022
7,2022-10-12,EQ,"3,297.00","3,297.00","3,145.00","3,273.95","3,228.00","3,223.65","3,207.73","3,885.00","1,367.70","29,72,601","9,53,52,97,729.45","1,23,910",Wednesday,41,2022
8,2022-10-13,EQ,"3,218.00","3,262.80","3,189.00","3,223.65","3,228.00","3,233.65","3,226.46","3,885.00","1,367.70","18,40,193","5,93,73,08,018.25","67,694",Thursday,41,2022
9,2022-10-14,EQ,"3,272.00","3,305.00","3,194.85","3,233.65","3,201.00","3,209.50","3,242.81","3,885.00","1,367.70","13,44,415","4,35,96,88,647.25","50,469",Friday,41,2022
10,,NaN,NaN,"3,338.00","3,145.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEEKLY SUMMARY,41,2022
11,2022-10-17,EQ,"3,211.00","3,235.00","3,136.10","3,209.50","3,225.00","3,212.60","3,198.73","3,885.00","1,367.70","19,85,298","6,35,04,25,876.50","65,568",Monday,42,2022
12,2022-10-18,EQ,"3,249.00","3,298.00","3,226.10","3,212.60","3,289.00","3,284.30","3,268.80","3,885.00","1,367.70","16,35,079","5,34,47,52,856.60","51,032",Tuesday,42,2022
13,2022-10-19,EQ,"3,300.00","3,310.00","3,259.65","3,284.30","3,277.00","3,277.25","3,289.84","3,885.00","1,367.70","13,96,513","4,59,43,01,611.90","45,073",Wednesday,42,2022
14,2022-10-20,EQ,"3,260.00","3,365.00","3,245.00","3,277.25","3,361.05","3,357.10","3,308.85","3,885.00","1,367.70","22,11,287","7,31,68,11,040.15","66,573",Thursday,42,2022
15,2022-10-21,EQ,"3,374.90","3,382.00","3,287.00","3,357.10","3,309.75","3,311.90","3,335.48","3,885.00","1,367.70","11,20,790","3,73,83,69,840.15","41,865",Friday,42,2022
16,,NaN,NaN,"3,382.00","3,136.10",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WEEKLY SUMMARY,42,2022
17,2022-10-24,EQ,"3,325.00","3,340.10","3,287.40","3,311.90","3,320.00","3,309.80","3,317.49","3,885.00","1,367.70","2,48,249","82,35,64,724.35","9,916",Monday,43,2022
18,2022-10-25,EQ,"3,321.95","3,345.00","3,294.00","3,309.80","3,295.05","3,300.50","3,313.09","3,885.00","1,367.70","8,79,424","2,91,36,08,009.95","35,025",Tuesday,43,2022
19,2022-10-27,EQ,"3,319.85","3,355.00","3,297.00","3,300.50","3,320.00","3,325.00","3,322.70","3,885.00","1,367.70","11,06,870","3,67,78,01,050.20","37,985",Thursday,43,2022

In [83]:
# Define new columns with NaN values
new_columns = ["Order Type", "Buy Quantity", "Investment", "Total Share", "Total Investment", 
               "Average Price", "Target", "IRLower", "IRUpper", "Description"]
# Columns to drop
columns_to_drop = ["series", "ltp", "vwap", "52W H", "52W L", "VOLUME", "VALUE", "No of trades"]

# Drop the columns (ignoring errors if a column is missing)
df = df.drop(columns=columns_to_drop, errors='ignore')

# Add new columns with NaN
for col in new_columns:
    df[col] = pd.NA

df.head(20)
# df.columns

,Date,OPEN,HIGH,LOW,PREV. CLOSE,close,Day,Week,Year,Order Type,Buy Quantity,Investment,Total Share,Total Investment,Average Price,Target,IRLower,IRUpper,Description
0,2022-10-03,"3,440.00","3,460.05","3,110.20","3,455.75","3,157.30",Monday,40,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,2022-10-04,"3,230.00","3,291.20","3,125.00","3,157.30","3,237.70",Tuesday,40,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2022-10-06,"3,270.00","3,318.80","3,208.05","3,237.70","3,285.00",Thursday,40,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,2022-10-07,"3,280.00","3,310.95","3,228.15","3,285.00","3,277.60",Friday,40,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,,NaN,"3,460.05","3,110.20",NaN,NaN,WEEKLY SUMMARY,40,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,2022-10-10,"3,234.00","3,278.75","3,214.35","3,277.60","3,246.25",Monday,41,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,2022-10-11,"3,257.55","3,338.00","3,249.00","3,246.25","3,273.95",Tuesday,41,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
7,2022-10-12,"3,297.00","3,297.00","3,145.00","3,273.95","3,223.65",Wednesday,41,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
8,2022-10-13,"3,218.00","3,262.80","3,189.00","3,223.65","3,233.65",Thursday,41,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,2022-10-14,"3,272.00","3,305.00","3,194.85","3,233.65","3,209.50",Friday,41,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
10,,NaN,"3,338.00","3,145.00",NaN,NaN,WEEKLY SUMMARY,41,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
11,2022-10-17,"3,211.00","3,235.00","3,136.10","3,209.50","3,212.60",Monday,42,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
12,2022-10-18,"3,249.00","3,298.00","3,226.10","3,212.60","3,284.30",Tuesday,42,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
13,2022-10-19,"3,300.00","3,310.00","3,259.65","3,284.30","3,277.25",Wednesday,42,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14,2022-10-20,"3,260.00","3,365.00","3,245.00","3,277.25","3,357.10",Thursday,42,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
15,2022-10-21,"3,374.90","3,382.00","3,287.00","3,357.10","3,311.90",Friday,42,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
16,,NaN,"3,382.00","3,136.10",NaN,NaN,WEEKLY SUMMARY,42,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
17,2022-10-24,"3,325.00","3,340.10","3,287.40","3,311.90","3,309.80",Monday,43,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
18,2022-10-25,"3,321.95","3,345.00","3,294.00","3,309.80","3,300.50",Tuesday,43,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
19,2022-10-27,"3,319.85","3,355.00","3,297.00","3,300.50","3,325.00",Thursday,43,2022,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [84]:
# Save the processed CSV
output_path = "output/step-2-weekly-highs-and-lows.csv"
df.to_csv(output_path, index=False)

print(f"CSV processed and saved as {output_path}.")

CSV processed and saved as output/step-2-weekly-highs-and-lows.csv.