In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load CSV
file_path = "output/step-2-weekly-highs-and-lows.csv"
df = pd.read_csv(file_path)
df.columns = df.columns.str.strip()
df.tail()

,Date,OPEN,HIGH,LOW,PREV. CLOSE,close,Day,Week,Buy Quantity,Investment,Total Share,Total Investment,Average Price,Target,IRLower,IRUpper,Description
297,2024-12-23,"1,782.00","1,806.00","1,781.30","1,771.50","1,801.00",Monday,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2024-12-24,"1,802.05","1,808.70","1,789.55","1,801.00","1,798.10",Tuesday,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2024-12-26,"1,798.55","1,812.00","1,780.75","1,798.10","1,790.75",Thursday,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2024-12-27,"1,794.80","1,805.95","1,789.10","1,790.75","1,798.25",Friday,52.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,NaN,NaN,"1,812.00","1,780.75",NaN,NaN,WEEKLY SUMMARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN